/*CSS reset https://cssreset.com/scripts/html5-doctor-css-reset-stylesheet/#the-scripts*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10rem auto 10rem;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas:
   "header header header"
    "nav content side"
    "footer footer footer";
}

header {
    grid-area: header;                /* header corresponds to name in template */
    text-align: center;
    background-color: lightskyblue;
    height: 70px;
    line-height: 70px;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: darkolivegreen;
    height: 70px;
    line-height: 70px;
}

nav {
    text-align: center;
    grid-area: nav;
    margin-left: 0.5rem;
    background-color: lightgoldenrodyellow;
}

aside {
    text-align: center;
    grid-area: side;
    margin-right: 0.5rem;
    overflow: auto;
    background-color: lightgoldenrodyellow;
}

main {
    grid-area: content;
    background-color: lightcoral;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

        grid-template-columns: 1fr;
        grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* nav */
      1fr /* Content */
      minmax(75px, auto) /* sidebar */
      auto; /* Footer */
    }

    nav, aside {
        margin: 0;
    }
}